### Student Activity: Portfolio Planner Part I

This program is part 1 of a two-part student activity and begins the following:

`PART 1: Portfolio Optimization via Risk Evaluation`

Reads in the CSV datasets of 10 stocks, calculates the volatility of each stock, drops the top-five highly volatile stocks, sets allocations for the remaining stocks based on risk/volatility, and calculates the returns of a hypothetical `$10,000` investment for the constructed portfolio.

`PART 2: Portfolio Optimization via Correlation and Return-to-Risk (Sharpe Ratio) Evaluations`

To be continued in the second part!

In [95]:
# Import libraries and dependencies
import numpy as np
import pandas as pd
from pathlib import Path
%matplotlib inline

### Read CSVs as DataFrames

In [96]:
# Set the file paths
bk_data = Path("../Resources/bk_data.csv")
fang_data = Path("../Resources/fang_data.csv")
jnj_data = Path("../Resources/jnj_data.csv")
luv_data = Path("../Resources/luv_data.csv")
mu_data = Path("../Resources/mu_data.csv")
nke_data = Path("../Resources/nke_data.csv")
sbux_data = Path("../Resources/sbux_data.csv")
t_data = Path("../Resources/t_data.csv")
wdc_data = Path("../Resources/wdc_data.csv")
wrk_data = Path("../Resources/wrk_data.csv")

# Read the CSVs and set the `date` column as a datetime index to the DataFrame
bk_df = pd.read_csv(bk_data, index_col="date", infer_datetime_format=True, parse_dates=True)
fang_df = pd.read_csv(fang_data, index_col="date", infer_datetime_format=True, parse_dates=True)
jnj_df = pd.read_csv(jnj_data, index_col="date", infer_datetime_format=True, parse_dates=True)
luv_df = pd.read_csv(luv_data, index_col="date", infer_datetime_format=True, parse_dates=True)
mu_df = pd.read_csv(mu_data, index_col="date", infer_datetime_format=True, parse_dates=True)
nke_df = pd.read_csv(nke_data, index_col="date", infer_datetime_format=True, parse_dates=True)
sbux_df = pd.read_csv(sbux_data, index_col="date", infer_datetime_format=True, parse_dates=True)
t_df = pd.read_csv(t_data, index_col="date", infer_datetime_format=True, parse_dates=True)
wdc_df = pd.read_csv(wdc_data, index_col="date", infer_datetime_format=True, parse_dates=True)
wrk_df = pd.read_csv(wrk_data, index_col="date", infer_datetime_format=True, parse_dates=True)

# Display a few rows
wrk_df.head()

            close
date
2019-05-20  35.15
2019-05-17  36.66
2019-05-16  37.42
2019-05-15  37.44
2019-05-14  37.19

### Combine DataFrames, Sort Index, and Rename Columns

In [97]:
# Create a new pivot table where the columns are the closing prices for each ticker

all_prices = pd.concat([bk_df, fang_df, jnj_df, luv_df,mu_df,nke_df, sbux_df,t_df,wdc_df, wrk_df ], axis="columns", join="inner")
all_prices = all_prices.reset_index()
all_prices.columns = ["date", "bk","fang", "jnj","luv", "mu", "nke", "sbux", "t", "wdc", "wrk"]

# Sort datetime index in ascending order (past to present)

# Set column names


# Display a few rows
all_prices.head()

,date,bk,fang,jnj,luv,mu,nke,sbux,t,wdc,wrk
0,2019-05-17,46.08,111.02,138.61,52.24,36.06,84.57,78.91,31.80,44.63,36.66
1,2019-05-16,46.54,110.63,138.21,52.59,37.31,84.28,78.90,31.62,45.09,37.42
2,2019-05-15,46.51,109.06,136.91,52.01,38.41,84.01,77.76,31.25,45.49,37.44
3,2019-05-14,47.01,109.11,136.82,51.65,38.51,83.67,77.06,31.09,44.63,37.19
4,2019-05-13,47.15,107.20,137.20,51.04,37.38,82.53,76.68,30.47,42.99,36.12

### Calculate Daily Returns

In [98]:
# Use the `pct_change` function to calculate daily returns

### Evaluate Riskiness of Stocks

In [99]:
# Use the `std` function and multiply by the square root of the number of trading days in a year to get annualized volatility

### Drop High Volatility Stocks

In [100]:
# Drop the five stocks with the highest volatility in daily returns

### Set Portfolio Allocations/Weights and Calculate Portfolio Daily Returns

In [101]:
# Set weights for corresponding risk profile of stocks, use the `dot` function to multiply each weight by the corresponding stock daily return
# BK, LUV, NKE, SBUX, T

### Calculate Cumulative Returns

In [102]:
# Use the `cumprod` function to calculate cumulative returns

### Plot Return of Portfolio Starting with Initial Investment of `$10,000`

In [103]:
# Plot the returns of the portfolio in terms of money