### Student Activity: Beta Comparisons

This program reads in the daily closing prices of social media stocks—FB, TWTR, SNAP—and the S&P 500 as CSVs and calculates the rolling 30-day beta values of each social media to plot the trends in volatility relative to the market.

In [47]:
# Import libraries and dependencies
import pandas as pd
from pathlib import Path
%matplotlib inline

### Read CSVs in as DataFrames

In [48]:
# Read the daily closing prices of FB, set the `date` as a datetime index
fb_data = Path("../Resources/fb_data.csv")
fb_df = pd.read_csv(fb_data, index_col="date", parse_dates=True, infer_datetime_format=True)

# Read the daily closing prices of TWTR, set the `date` as a datetime index
twtr_data = Path("../Resources/twtr_data.csv")
twtr_df = pd.read_csv(twtr_data, index_col="date", parse_dates=True, infer_datetime_format=True)

# Read the daily closing prices of SNAP, set the `date` as a datetime index
snap_data = Path("../Resources/snap_data.csv")
snap_df = pd.read_csv(snap_data, index_col="date", parse_dates=True, infer_datetime_format=True)

# Read the daily closing prices of S&P 500, set the `date` as a datetime index
sp500_data = Path("../Resources/sp500_data.csv")
sp500_df = pd.read_csv(sp500_data, index_col="date", parse_dates=True, infer_datetime_format=True)
sp500_df.head()

                  close
date
2014-05-20  1872.829956
2014-05-21  1888.030029
2014-05-22  1892.489990
2014-05-23  1900.530029
2014-05-27  1911.910034

### Combine DataFrames, Sort Index, and Rename Columns

In [49]:
# Create a new pivot table where the columns are the closing prices for each ticker
combined_df = pd.concat([fb_df, twtr_df, snap_df, sp500_df], axis="columns", join="inner")


# Sort datetime index in ascending order (past to present)0
combined_df.sort_index(inplace=True)


# Set column names to 'AMZN' and 'S&P 500'
combined_df.columns = ["Facebook", "Twitter", "Snap Chat", "S&P500"]


# Display a few rows
combined_df

            Facebook  Twitter  Snap Chat       S&P500
date
2017-03-02    136.76    15.79      24.48  2381.919922
2017-03-03    137.17    15.75      27.09  2383.120117
2017-03-06    137.42    15.56      23.77  2375.310059
2017-03-07    137.30    15.18      21.44  2368.389893
2017-03-08    137.72    15.24      22.81  2362.979980
...              ...      ...        ...          ...
2019-05-13    181.54    36.59      10.11  2811.870117
2019-05-14    180.73    36.93      10.49  2834.409912
2019-05-15    186.27    37.90      10.66  2850.959961
2019-05-16    186.99    38.30      11.42  2876.320068
2019-05-17    185.30    37.50      11.49  2859.530029

[557 rows x 4 columns]

### Calculate Daily Returns

In [50]:
# Use the `pct_change` function to calculate daily returns of closing prices for each column
daily_returns =combined_df.pct_change()
daily_returns

            Facebook   Twitter  Snap Chat    S&P500
date
2017-03-02       NaN       NaN        NaN       NaN
2017-03-03  0.002998 -0.002533   0.106618  0.000504
2017-03-06  0.001823 -0.012063  -0.122554 -0.003277
2017-03-07 -0.000873 -0.024422  -0.098023 -0.002913
2017-03-08  0.003059  0.003953   0.063899 -0.002284
...              ...       ...        ...       ...
2019-05-13 -0.036105 -0.048375  -0.036225 -0.024131
2019-05-14 -0.004462  0.009292   0.037587  0.008016
2019-05-15  0.030653  0.026266   0.016206  0.005839
2019-05-16  0.003865  0.010554   0.071295  0.008895
2019-05-17 -0.009038 -0.020888   0.006130 -0.005837

[557 rows x 4 columns]

### Calculate Covariance of Social Media Stock Returns vs. S&P 500 Returns

In [51]:
# Calculate covariance of all daily returns of social media stocks vs. S&P 500
covariance = daily_returns['Facebook']['Twitter']['Snap Chat'].cov(daily_returns['S&P 500'])
covariance

KeyError: 'Twitter'

### Calculate Variance of S&P 500 Returns

In [ ]:
# Calculate variance of all daily returns of social media stocks vs. S&P 500

### Calculate Beta Values of Social Media Stocks

In [ ]:
# Calculate beta of all daily returns of social media stocks

### Calculate 30-Day Rolling Betas of AMZN Returns vs. S&P 500 Returns

In [ ]:
# Calculate 30-day rolling covariance of AMZN vs. S&P 500 and plot the data


# Calculate 30-day rolling covariance of AMZN vs. S&P 500 and plot the data


# Calculate 30-day rolling beta of AMZN and plot the data

### Plot Rolling 30-Day Betas of Social Media Stocks

In [ ]:
# Set the figure and plot the different datasets as multiple trends on the same figure


# Set the legend of the figure