# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [174]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

import hvplot.pandas
%matplotlib inline

In [175]:
def postgres_connect_str(
    uname    = 'Mike',
    pass_env ='POSTGRES_PASSWORD' ,
    host     =  'pg-2e8191e-instructors-1f45.aivencloud.com',
    database = 'mike',
    port    = 18645,
    ):

    from dotenv import load_dotenv
    import os

    load_dotenv()
    password = os.getenv(pass_env)
    return f"postgresql://{uname}:{password}@{host}:{port}/{database}?sslmode=require"

postgres_connect_str()

'postgresql://Mike:AVNS_AJ3uSTLdGcdCPz4@pg-2e8191e-instructors-1f45.aivencloud.com:18645/mike?sslmode=require'

In [176]:
# Create a connection to the database
engine = create_engine(postgres_connect_str())

In [177]:
# Write function that locates outliers using standard deviation
sql=f'''Select transaction_id, date, merchant_id, cc.card_number, amount,c.card_holder_id, c."Full_name" FROM "Transactions" t
INNER JOIN "Credit_card" cc
ON cc."card_number" = t.card_number
INNER JOIN "Card_holder" c
On cc."card_holder_id"  = c."card_holder_id"
GROUP BY cc.card_holder_id , c."Full_name", date_trunc('day',date), t.transaction_id, cc."card_number", c."card_holder_id"

'''

df = pd.read_sql_query(sql, engine)

df.index = pd.to_datetime(df["date"])
std = df["amount"].std()*2+ df['amount'].mean()
outliers = [x for x in df['amount'] if x >= std]
print("Outliers: ", len(outliers))

Outliers:  84

In [178]:
df

,transaction_id,date,merchant_id,card_number,amount,card_holder_id,Full_name
date,,,,,,,
2018-11-26 05:11:39,3332,2018-11-26 05:11:39,146,3517111172421930,2.27,1,Robert Johnson
2018-01-21 16:05:43,322,2018-01-21 16:05:43,75,5175947111814778,2.88,14,Gary Jacobs
2018-05-11 03:05:18,1305,2018-05-11 03:05:18,43,30078299053512,11.10,3,Elizabeth Sawyer
2018-04-15 01:52:20,2625,2018-04-15 01:52:20,120,3516952396080247,18.43,7,Sean Taylor
2018-07-21 11:08:39,682,2018-07-21 11:08:39,119,30142966699187,291.00,24,Stephanie Dalton
...,...,...,...,...,...,...,...
2018-06-03 12:49:27,3201,2018-06-03 12:49:27,114,5500708021555307,19.46,16,Crystal Clark
2018-11-15 02:42:14,369,2018-11-15 02:42:14,130,4276466390111,2.59,5,Sara Cooper
2018-10-25 01:25:46,802,2018-10-25 01:25:46,22,5500708021555307,2.37,16,Crystal Clark
2018-09-09 22:02:11,1717,2018-09-09 22:02:11,5,4279104135293225293,10.50,21,Dana Washington
2018-03-12 09:08:18,2021,2018-03-12 09:08:18,13,372414832802279,1.65,25,Nancy Contreras

In [179]:
outlier_df = df.copy(deep=True)

outlier_df['outliers'] = (outlier_df['amount'] >= std)
outlier_df = outlier_df[outlier_df['outliers'] == True]
outlier_df.set_index('Full_name')
outlier_df

,transaction_id,date,merchant_id,card_number,amount,card_holder_id,Full_name,outliers
date,,,,,,,,
2018-07-26 23:02:51,2508,2018-07-26 23:02:51,68,5570600642865857,1803.0,16,Crystal Clark,True
2018-12-18 13:33:37,1863,2018-12-18 13:33:37,67,4319653513507,1074.0,25,Nancy Contreras,True
2018-08-16 10:01:00,1877,2018-08-16 10:01:00,120,4319653513507,1001.0,25,Nancy Contreras,True
2018-12-24 15:55:06,2520,2018-12-24 15:55:06,7,5570600642865857,1634.0,16,Crystal Clark,True
2018-01-04 03:05:18,2650,2018-01-04 03:05:18,80,3516952396080247,1685.0,7,Sean Taylor,True
...,...,...,...,...,...,...,...,...
2018-12-21 09:56:32,2461,2018-12-21 09:56:32,96,30142966699187,1301.0,24,Stephanie Dalton,True
2018-03-20 10:19:25,236,2018-03-20 10:19:25,35,501879657465,852.0,12,Megan Price,True
2018-09-04 01:35:39,2497,2018-09-04 01:35:39,43,4761049645711555811,1790.0,1,Robert Johnson,True
2018-11-20 05:24:28,1629,2018-11-20 05:24:28,22,30078299053512,1054.0,3,Elizabeth Sawyer,True
2018-01-23 06:29:37,2667,2018-01-23 06:29:37,92,501879657465,1678.0,12,Megan Price,True

In [180]:
# Find anomalous transactions for 3 random card holders

three_names = pd.DataFrame(outlier_df).sample(3)
three_names

,transaction_id,date,merchant_id,card_number,amount,card_holder_id,Full_name,outliers
date,,,,,,,,
2018-04-08 06:03:50,1341,2018-04-08 06:03:50,16,4319653513507,1063.0,25,Nancy Contreras,True
2018-09-11 15:16:47,2984,2018-09-11 15:16:47,138,3581345943543942,1856.0,6,Beth Hernandez,True
2018-11-20 05:24:28,1629,2018-11-20 05:24:28,22,30078299053512,1054.0,3,Elizabeth Sawyer,True

## Identifying Outliers Using Interquartile Range

In [181]:
# Write a function that locates outliers using interquartile range
iqr = df.sort_values(by='amount').reset_index(drop=True)
iqr

,transaction_id,date,merchant_id,card_number,amount,card_holder_id,Full_name
0,810,2018-02-04 19:02:09,75,3561954487988605,0.51,13,John Martin
1,755,2018-07-17 22:11:50,142,4506405265172173,0.52,20,Kevin Spencer
2,558,2018-07-14 17:44:09,81,4506405265172173,0.53,20,Kevin Spencer
3,635,2018-04-13 04:50:37,150,5500708021555307,0.54,16,Crystal Clark
4,811,2018-04-18 06:51:00,50,5500708021555307,0.56,16,Crystal Clark
...,...,...,...,...,...,...,...
3495,3064,2018-05-08 13:21:01,108,30142966699187,1901.00,24,Stephanie Dalton
3496,2597,2018-11-13 17:07:25,77,5570600642865857,1911.00,16,Crystal Clark
3497,3125,2018-09-02 06:17:00,18,3581345943543942,2001.00,6,Beth Hernandez
3498,2710,2018-04-21 19:41:51,130,3581345943543942,2108.00,6,Beth Hernandez
3499,2945,2018-12-13 15:51:59,83,3516952396080247,2249.00,7,Sean Taylor

In [182]:

def get_percentile(iqr, percentile_rank):
    
    # First, sort by ascending amount, reset the indices
    iqr = iqr.sort_values(by='amount').reset_index()
    
    # Rule of three to get the index of the temperature
    index = (len(df.index)-1) * percentile_rank / 100.0
    index = int(index)
    
    # Return the temperature corresponding to the percentile rank
    return iqr.at[index, 'amount']

In [183]:
# Calculating 25th percentile
per_25 = get_percentile(iqr, 25)
per_25

3.72

In [184]:
# Calculating 75th percentile
per_75 = get_percentile(iqr, 75)
per_75

14.64

In [185]:
def interquartile_range(iqr):
    
    per_75 = get_percentile(iqr, 75)  # 75th percentile
    per_25 = get_percentile(iqr, 25)  # 75th percentile
    iqr = per_75 - per_25  # Interquartile Range
    return iqr

In [186]:
oor = [x for x in iqr['amount'] if x >= per_75 or x <= per_25]

In [187]:
interquartile_range(iqr)

10.92

In [188]:
print("Outliers: ", len(oor))

Outliers:  1751

In [189]:
iqr

,transaction_id,date,merchant_id,card_number,amount,card_holder_id,Full_name
0,810,2018-02-04 19:02:09,75,3561954487988605,0.51,13,John Martin
1,755,2018-07-17 22:11:50,142,4506405265172173,0.52,20,Kevin Spencer
2,558,2018-07-14 17:44:09,81,4506405265172173,0.53,20,Kevin Spencer
3,635,2018-04-13 04:50:37,150,5500708021555307,0.54,16,Crystal Clark
4,811,2018-04-18 06:51:00,50,5500708021555307,0.56,16,Crystal Clark
...,...,...,...,...,...,...,...
3495,3064,2018-05-08 13:21:01,108,30142966699187,1901.00,24,Stephanie Dalton
3496,2597,2018-11-13 17:07:25,77,5570600642865857,1911.00,16,Crystal Clark
3497,3125,2018-09-02 06:17:00,18,3581345943543942,2001.00,6,Beth Hernandez
3498,2710,2018-04-21 19:41:51,130,3581345943543942,2108.00,6,Beth Hernandez
3499,2945,2018-12-13 15:51:59,83,3516952396080247,2249.00,7,Sean Taylor

In [192]:
 #df.query('Sales > 300 and Units < 18')
iqr['Outliers'] =iqr[lambda x: x in iqr['amount']if x >= per_75 or x <= per_25 else False]

TypeError: Invalid comparison between dtype=datetime64[ns] and float64

In [ ]:
# Find anomalous transactions for 3 random card holders
#oor = [x for x in iqr['amount'] if x >= per_75 or x <= per_25]


iqr['Outliers'] = iqr[(iqr['amount'] >= per_75) | (iqr['amount'] <= per_25)]
#iqr['Outliers'] = (iqr['amount'] <= per_25)
#iqr = iqr[iqr['Outliers'] == True]
#iqr.set_index('Full_name')

'''
east_west = df[(df['Region'] == 'West') | (df['Region'] == 'East')]

outlier_df = df.copy(deep=True)

outlier_df['outliers'] = (outlier_df['amount'] >= std)
outlier_df = outlier_df[outlier_df['outliers'] == True]
outlier_df.set_index('Full_name')
outlier_df
'''
iqr

ValueError: Wrong number of items passed 7, placement implies 1

I quit. My brain has had enough