# Composing Masterpieces

In your role as a data analyst for a video streaming service, you have been asked by your manager to compare and contrast the subscriber data for various international regions over the last several years. 

Use your knowledge of compose and overlay plots to create visualizations to gather the data requested by your manager.

In [8]:
# Import the required libraries and dependencies
import pandas as pd
import hvplot.pandas
from pathlib import Path

## Step 1: Prepare the Subscriber Numbers DataFrame

In [14]:
# Read subscriber_numbers.csv file into a Pandas DataFrame
subscribers_df = pd.read_csv(Path("../Resources/subscriber_numbers.csv"))

# Review the DataFrame
subscribers_df

                              Area      Years  Subscribers
0         United States and Canada  Q1 - 2018     60909000
1   Europe, Middle East and Africa  Q1 - 2018     29339000
2                    Latin America  Q1 - 2018     21260000
3                     Asia-Pacific  Q1 - 2018      7394000
4         United States and Canada  Q2 - 2018     61870000
5   Europe, Middle East and Africa  Q2 - 2018     31317000
6                    Latin America  Q2 - 2018     22795000
7                     Asia-Pacific  Q2 - 2018      8372000
8         United States and Canada  Q3 - 2018     63010000
9   Europe, Middle East and Africa  Q3 - 2018     33836000
10                   Latin America  Q3 - 2018     24115000
11                    Asia-Pacific  Q3 - 2018      9461000
12        United States and Canada  Q4 - 2018     64757000
13  Europe, Middle East and Africa  Q4 - 2018     37818000
14                   Latin America  Q4 - 2018     26077000
15                    Asia-Pacific  Q4 - 2018     10607000
16        United States and Canada  Q1 - 2019     66633000
17  Europe, Middle East and Africa  Q1 - 2019     42542000
18                   Latin America  Q1 - 2019     27547000
19                    Asia-Pacific  Q1 - 2019     12141000
20        United States and Canada  Q2 - 2019     66501000
21  Europe, Middle East and Africa  Q2 - 2019     44229000
22                   Latin America  Q2 - 2019     27890000
23                    Asia-Pacific  Q2 - 2019     12942000
24        United States and Canada  Q3 - 2019     67114000
25  Europe, Middle East and Africa  Q3 - 2019     47355000
26                   Latin America  Q3 - 2019     29380000
27                    Asia-Pacific  Q3 - 2019     14485000
28        United States and Canada  Q4 - 2019     67662000
29  Europe, Middle East and Africa  Q4 - 2019     51778000
30                   Latin America  Q4 - 2019     31417000
31                    Asia-Pacific  Q4 - 2019     16233000
32        United States and Canada  Q1 - 2020     69969000
33  Europe, Middle East and Africa  Q1 - 2020     58734000
34                   Latin America  Q1 - 2020     34318000
35                    Asia-Pacific  Q1 - 2020     19835000
36        United States and Canada  Q2 - 2020     72904000
37  Europe, Middle East and Africa  Q2 - 2020     61483000
38                   Latin America  Q2 - 2020     36068000
39                    Asia-Pacific  Q2 - 2020     22492000

## Step 2: Using both a compose plot and and overlay plot, compare the subscriber numbers for each region for the periods "Q1 - 2018", "Q1 - 2019", and "Q1 - 2020".

In [19]:
# Create a DataFrame that slices the subscriber data for Q1 - 2018.
q1_2018 = subscribers_df["Years"] == "Q1 - 2018"
# Set the index of the DataFrame to Area
q1_2018 = q1_2018.setindex["Area"]

# Create a bar chart of the Q1 - 2018 data
q1_2018_plot = q1_2018.hvplot.bar()

# Show the bar chart
q1_2018_plot

AttributeError: 'Series' object has no attribute 'setindex'

In [7]:
# Create a DataFrame that slices the subscriber data for Q1 - 2019.
q1_2019 = # YOUR CODE HERE

# Set the index of the DataFrame to Area
q1_2019 = # YOUR CODE HERE

# Create a bar chart of the Q1 - 2019 data
q1_2019_plot = # YOUR CODE HERE

# Show the bar chart
q1_2019_plot

SyntaxError: invalid syntax (Temp/ipykernel_16864/2644893014.py, line 2)

In [ ]:
# Create a DataFrame that slices the subscriber data for Q1 - 2020.
q1_2020 = # YOUR CODE HERE

# Set the index of the DataFrame to Area
q1_2020 = # YOUR CODE HERE

# Create a bar chart of the Q1 - 2020 data
q1_2020_plot = # YOUR CODE HERE

# Show the bar chart
q1_2020_plot

## Create a compose plot to visualize the Q1 data

In [ ]:
# Create a compose plot to visualize the Q1 data side-by-side
# YOUR CODE HERE

## Create an overlay plot for the Q1 data

> Hint: Does the order of the plots change the visualization?

In [ ]:
# Create an overlay plot to visualize the Q1 data
# YOUR CODE HERE

**Question:** How does the rate of growth compare across each region over the time periods being analyzed?

**Answer:** # YOUR ANSWER HERE

## Step 3: Using both a compose plot and and overlay plot, combare the time series trends in subscriber numbers for the two largest regions detailed in the dataset, the "United States and Canada" region and the "Europe, Middle East and Africa" region.

In [ ]:
# Create a DataFrame that slices the subscriber data for the United States and Canada
us_canada_subscribers = # YOUR CODE HERE

# Set the index of the DataFrame to Years
us_canada_subscribers = # YOUR CODE HERE

# Create a line plot of the US and Canada data
us_canada_plot = # YOUR CODE HERE

# Show the plot
us_canada_plot

In [ ]:
# Create a DataFrame that slices the subscriber data for the Europe, Middle East and Africa area
emea_subscribers = # YOUR CODE HERE

# Set the index of the DataFrame to Years
emea_subscribers = # YOUR CODE HERE

# Create a line plot of the Europe, Middle East and Africa data
emea_plot = # YOUR CODE HERE

# Show the plot
emea_plot

## Create a compose plot to visualize the subscriber time series data for the two regions

In [ ]:
# Create a compose plot to visualize the subscriber time series data for the two regions
# YOUR CODE HERE

## Create an overlay plot for the subcriber time series data

In [ ]:
# Create an overlay plot to visualize the subscriber time series data for the two regions
# YOUR CODE HERE

**Question:** How does the rate of growth over the time series compare across the two regions?

**Answer:** # YOUR ANSWER HERE

## Step 4: Answer the following question:

**Question:** Given the information in these visualizations, toward what region would you recommend that advertising dollars be focused?

**Answer:** # YOUR ANSWER HERE