# Column Manipulation of Pandas DataFrames

### 1. Import libraries and dependencies

In [115]:
# Import pandas, pathlib, and numpy libraries
import numpy as np
import pandas as pd
from pathlib import Path
%matplotlib inline

### 2. Create a Path to the File Using Pathlib

In [116]:
# Use the Pathlib libary to set the path to the CSV
pr_data = Path("../Resources/people_reordered.csv")
people_data = Path("../Resources/people.csv")

### 3. Read the CSV into a Pandas DataFrame and Display a Few Rows

In [117]:
# Use the file path to read the CSV into a DataFrame and display a few rows
pr_df = pd.read_csv(pr_data, index_col="Person_ID", infer_datetime_format=True, parse_dates=True)
people_df = pd.read_csv(people_data, index_col="id", infer_datetime_format=True, parse_dates=True)
combined_df = pd.concat([pr_df,people_df],axis="columns", join="outer")
combined_df.head()

,Unnamed: 0,Last_Name,First_Name,Gender,University,Occupation,Salary,Email,Age,first_name,last_name,email,gender,uni_grad,job_title,Income
1.0,0,Lenormand,Keriann,Female,Aurora University,Nurse Practicioner,58135.0,klenormand0@businessinsider.com,27,Keriann,Lenormand,klenormand0@businessinsider.com,Female,Aurora University,Nurse Practicioner,58135.0
2.0,1,Rupke,Huntley,Male,Osaka University of Economics,Project Manager,96053.0,hrupke1@reuters.com,22,Huntley,Rupke,hrupke1@reuters.com,Male,Osaka University of Economics,Project Manager,96053.0
3.0,2,Dalgarnowch,Gorden,Male,Ludong University,Environmental Tech,59196.0,gdalgarnowch2@microsoft.com,40,Gorden,Dalgarnowch,gdalgarnowch2@microsoft.com,Male,Ludong University,Environmental Tech,59196.0
4.0,3,Putten,Cullie,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0,cputten3@nymag.com,62,Cullie,NaN,cputten3@nymag.com,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0
5.0,4,Strangman,Ariel,Female,Boise State University,Project Manager,89073.0,astrangman4@bravesites.com,47,Ariel,Strangman,astrangman4@bravesites.com,Female,Boise State University,Project Manager,89073.0

### 4. View Columns Names

In [118]:
# Use the `columns` attribute to output the column names
combined_df.columns

Index(['Unnamed: 0', 'Last_Name', 'First_Name', 'Gender', 'University',
       'Occupation', 'Salary', 'Email', 'Age', 'first_name', 'last_name',
       'email', 'gender', 'uni_grad', 'job_title', 'Income'],
      dtype='object')

### 5. View Column Data Types

In [119]:
# Use the `dtypes` attribute to output the column names and data types
combined_df.dtypes

Unnamed: 0      int64
Last_Name      object
First_Name     object
Gender         object
University     object
Occupation     object
Salary        float64
Email          object
Age             int64
first_name     object
last_name      object
email          object
gender         object
uni_grad       object
job_title      object
Income        float64
dtype: object

### 6. Rename Columns Using List

In [120]:
# Set the `columns` attribute to a new list of column names
combined_df.columns =  ["Last Name", "First Name", "M/F", "School", "Job", "Pay", "Contact" "How Old"]

ValueError: Length mismatch: Expected axis has 16 elements, new values have 7 elements

### 7. Rename Columns Using Dictionary

In [ ]:
# Use the `rename` function and set the `columns` parameter to a dictionary of new column names

### 8. Re-order Columns

In [ ]:
# Use a list of re-ordered column names to alter the column order of the original DataFrame

### 9. Create Additional Column

In [ ]:
# Use the `randint` function to randomly generate an `Age` from 22 to 65 for 1000 rows

### 10. Delete Columns

In [ ]:
# Use the `drop` function to delete the newly created `Age` column

### 11. Save Modified DataFrame to New CSV

In [ ]:
# Save the DataFrame to the `Resources` folder